SoftCyberiaWAFinal/SoftCyberiaWA/SoftCyberiaBaseBO/Connected Services/CyberiaWS/ComprobantePagoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="CyberiaWS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ComprobantePagoWS" targetNamespace="CyberiaWS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CyberiaStoreWS_Servidor/ComprobantePagoWS?xsd=1" namespace="CyberiaWS" />
    </xsd:schema>
  </types>
  <message name="comprobante_pago_obtener_por_id">
    <part name="parameters" element="tns:comprobante_pago_obtener_por_id" />
  </message>
  <message name="comprobante_pago_obtener_por_idResponse">
    <part name="parameters" element="tns:comprobante_pago_obtener_por_idResponse" />
  </message>
  <message name="comprobante_pago_listar_cliente">
    <part name="parameters" element="tns:comprobante_pago_listar_cliente" />
  </message>
  <message name="comprobante_pago_listar_clienteResponse">
    <part name="parameters" element="tns:comprobante_pago_listar_clienteResponse" />
  </message>
  <message name="comprobante_pago_listar">
    <part name="parameters" element="tns:comprobante_pago_listar" />
  </message>
  <message name="comprobante_pago_listarResponse">
    <part name="parameters" element="tns:comprobante_pago_listarResponse" />
  </message>
  <message name="comprobante_pago_insertar">
    <part name="parameters" element="tns:comprobante_pago_insertar" />
  </message>
  <message name="comprobante_pago_insertarResponse">
    <part name="parameters" element="tns:comprobante_pago_insertarResponse" />
  </message>
  <message name="comprobante_pago_modificar">
    <part name="parameters" element="tns:comprobante_pago_modificar" />
  </message>
  <message name="comprobante_pago_modificarResponse">
    <part name="parameters" element="tns:comprobante_pago_modificarResponse" />
  </message>
  <portType name="ComprobantePagoWS">
    <operation name="comprobante_pago_obtener_por_id">
      <input wsam:Action="CyberiaWS/ComprobantePagoWS/comprobante_pago_obtener_por_idRequest" message="tns:comprobante_pago_obtener_por_id" />
      <output wsam:Action="CyberiaWS/ComprobantePagoWS/comprobante_pago_obtener_por_idResponse" message="tns:comprobante_pago_obtener_por_idResponse" />
    </operation>
    <operation name="comprobante_pago_listar_cliente">
      <input wsam:Action="CyberiaWS/ComprobantePagoWS/comprobante_pago_listar_clienteRequest" message="tns:comprobante_pago_listar_cliente" />
      <output wsam:Action="CyberiaWS/ComprobantePagoWS/comprobante_pago_listar_clienteResponse" message="tns:comprobante_pago_listar_clienteResponse" />
    </operation>
    <operation name="comprobante_pago_listar">
      <input wsam:Action="CyberiaWS/ComprobantePagoWS/comprobante_pago_listarRequest" message="tns:comprobante_pago_listar" />
      <output wsam:Action="CyberiaWS/ComprobantePagoWS/comprobante_pago_listarResponse" message="tns:comprobante_pago_listarResponse" />
    </operation>
    <operation name="comprobante_pago_insertar">
      <input wsam:Action="CyberiaWS/ComprobantePagoWS/comprobante_pago_insertarRequest" message="tns:comprobante_pago_insertar" />
      <output wsam:Action="CyberiaWS/ComprobantePagoWS/comprobante_pago_insertarResponse" message="tns:comprobante_pago_insertarResponse" />
    </operation>
    <operation name="comprobante_pago_modificar">
      <input wsam:Action="CyberiaWS/ComprobantePagoWS/comprobante_pago_modificarRequest" message="tns:comprobante_pago_modificar" />
      <output wsam:Action="CyberiaWS/ComprobantePagoWS/comprobante_pago_modificarResponse" message="tns:comprobante_pago_modificarResponse" />
    </operation>
  </portType>
  <binding name="ComprobantePagoWSPortBinding" type="tns:ComprobantePagoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="comprobante_pago_obtener_por_id">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="comprobante_pago_listar_cliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="comprobante_pago_listar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="comprobante_pago_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="comprobante_pago_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ComprobantePagoWS">
    <port name="ComprobantePagoWSPort" binding="tns:ComprobantePagoWSPortBinding">
      <soap:address location="http://localhost:8080/CyberiaStoreWS_Servidor/ComprobantePagoWS" />
    </port>
  </service>
</definitions>