SoftCyberiaWAFinal/SoftCyberiaWA/SoftCyberiaBaseBO/Connected Services/CyberiaWS/ComprobantePagoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="CyberiaWS" targetNamespace="CyberiaWS" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="comprobante_pago_insertar" type="tns:comprobante_pago_insertar" />
  <xs:element name="comprobante_pago_insertarResponse" type="tns:comprobante_pago_insertarResponse" />
  <xs:element name="comprobante_pago_listar" type="tns:comprobante_pago_listar" />
  <xs:element name="comprobante_pago_listarResponse" type="tns:comprobante_pago_listarResponse" />
  <xs:element name="comprobante_pago_listar_cliente" type="tns:comprobante_pago_listar_cliente" />
  <xs:element name="comprobante_pago_listar_clienteResponse" type="tns:comprobante_pago_listar_clienteResponse" />
  <xs:element name="comprobante_pago_modificar" type="tns:comprobante_pago_modificar" />
  <xs:element name="comprobante_pago_modificarResponse" type="tns:comprobante_pago_modificarResponse" />
  <xs:element name="comprobante_pago_obtener_por_id" type="tns:comprobante_pago_obtener_por_id" />
  <xs:element name="comprobante_pago_obtener_por_idResponse" type="tns:comprobante_pago_obtener_por_idResponse" />
  <xs:complexType name="comprobante_pago_obtener_por_id">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_comprobante_pago" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_pago_obtener_por_idResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:comprobantePago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobantePago">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="estadoPedido" type="tns:estadoPedido" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idComprobantePago" type="xs:int" />
      <xs:element minOccurs="0" name="igv" type="xs:double" />
      <xs:element name="lineaPedido">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="tns:producto" />
                  <xs:element minOccurs="0" name="value" type="xs:int" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="numero" type="xs:string" />
      <xs:element minOccurs="0" name="persona" type="tns:persona" />
      <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
      <xs:element minOccurs="0" name="ruc" type="xs:string" />
      <xs:element minOccurs="0" name="subtotal" type="xs:double" />
      <xs:element minOccurs="0" name="tipoComprobante" type="tns:tipoComprobante" />
      <xs:element minOccurs="0" name="total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="idSede" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="marca" type="tns:marca" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="oferta" type="xs:int" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="precioProveedor" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="productosMiembros" nillable="true" type="tns:producto" />
      <xs:element minOccurs="0" name="sku" type="xs:string" />
      <xs:element minOccurs="0" name="tipoProducto" type="tns:tipoProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="marca">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="idMarca" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="proveedor" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="idProveedor" type="xs:int" />
      <xs:element minOccurs="0" name="nombreContacto" type="xs:string" />
      <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
      <xs:element minOccurs="0" name="ruc" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="idTipoProducto" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="documento" type="xs:string" />
      <xs:element minOccurs="0" name="fechaDeNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaIngreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaSalida" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="idSede" type="xs:int" />
      <xs:element minOccurs="0" name="idTipoPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nacionalidad" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="primerApellido" type="xs:string" />
      <xs:element minOccurs="0" name="segundoApellido" type="xs:string" />
      <xs:element minOccurs="0" name="sexo" type="xs:string" />
      <xs:element minOccurs="0" name="sueldo" type="xs:double" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDeDocumento" type="tns:tipoDocumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="idTipoComprobante" type="xs:int" />
      <xs:element minOccurs="0" name="secuencial" type="xs:string" />
      <xs:element minOccurs="0" name="tipoComprobante" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_pago_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="comprobante_pago" type="tns:comprobantePago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_pago_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_pago_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="comprobante_pago" type="tns:comprobantePago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_pago_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_pago_listar_cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_cliente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_pago_listar_clienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:comprobantePago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_pago_listar">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="comprobante_pago_listarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:comprobantePago" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoPedido">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EN_PREPARACION" />
      <xs:enumeration value="LISTO_PARA_RECOGER" />
      <xs:enumeration value="ENTREGADO" />
      <xs:enumeration value="CANCELADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="CARNET_DE_EXTRANJERIA" />
      <xs:enumeration value="PASAPORTE" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>