SoftCyberiaWAFinal/SoftCyberiaWA/SoftCyberiaBaseBO/Connected Services/CyberiaWS/MarcaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="CyberiaWS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MarcaWS" targetNamespace="CyberiaWS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CyberiaStoreWS_Servidor/MarcaWS?xsd=1" namespace="CyberiaWS" />
    </xsd:schema>
  </types>
  <message name="marca_eliminar">
    <part name="parameters" element="tns:marca_eliminar" />
  </message>
  <message name="marca_eliminarResponse">
    <part name="parameters" element="tns:marca_eliminarResponse" />
  </message>
  <message name="marca_insertar">
    <part name="parameters" element="tns:marca_insertar" />
  </message>
  <message name="marca_insertarResponse">
    <part name="parameters" element="tns:marca_insertarResponse" />
  </message>
  <message name="marca_listar">
    <part name="parameters" element="tns:marca_listar" />
  </message>
  <message name="marca_listarResponse">
    <part name="parameters" element="tns:marca_listarResponse" />
  </message>
  <portType name="MarcaWS">
    <operation name="marca_eliminar">
      <input wsam:Action="CyberiaWS/MarcaWS/marca_eliminarRequest" message="tns:marca_eliminar" />
      <output wsam:Action="CyberiaWS/MarcaWS/marca_eliminarResponse" message="tns:marca_eliminarResponse" />
    </operation>
    <operation name="marca_insertar">
      <input wsam:Action="CyberiaWS/MarcaWS/marca_insertarRequest" message="tns:marca_insertar" />
      <output wsam:Action="CyberiaWS/MarcaWS/marca_insertarResponse" message="tns:marca_insertarResponse" />
    </operation>
    <operation name="marca_listar">
      <input wsam:Action="CyberiaWS/MarcaWS/marca_listarRequest" message="tns:marca_listar" />
      <output wsam:Action="CyberiaWS/MarcaWS/marca_listarResponse" message="tns:marca_listarResponse" />
    </operation>
  </portType>
  <binding name="MarcaWSPortBinding" type="tns:MarcaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="marca_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="marca_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="marca_listar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MarcaWS">
    <port name="MarcaWSPort" binding="tns:MarcaWSPortBinding">
      <soap:address location="http://localhost:8080/CyberiaStoreWS_Servidor/MarcaWS" />
    </port>
  </service>
</definitions>