SoftCyberiaWAFinal/SoftCyberiaWA/SoftCyberiaBaseBO/Connected Services/CyberiaWS/MarcaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="CyberiaWS" targetNamespace="CyberiaWS" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="marca_eliminar" type="tns:marca_eliminar" />
  <xs:element name="marca_eliminarResponse" type="tns:marca_eliminarResponse" />
  <xs:element name="marca_insertar" type="tns:marca_insertar" />
  <xs:element name="marca_insertarResponse" type="tns:marca_insertarResponse" />
  <xs:element name="marca_listar" type="tns:marca_listar" />
  <xs:element name="marca_listarResponse" type="tns:marca_listarResponse" />
  <xs:complexType name="marca_listar">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="marca_listarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:marca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="marca">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="idMarca" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="proveedor" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="idProveedor" type="xs:int" />
      <xs:element minOccurs="0" name="nombreContacto" type="xs:string" />
      <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
      <xs:element minOccurs="0" name="ruc" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="marca_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="marca" type="tns:marca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="marca_eliminarResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="marca_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="marca" type="tns:marca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="marca_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>