SoftCyberiaWAFinal/SoftCyberiaWA/SoftCyberiaBaseBO/Connected Services/CyberiaWS/ProductoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="CyberiaWS" targetNamespace="CyberiaWS" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="producto_aumentar_stock" type="tns:producto_aumentar_stock" />
  <xs:element name="producto_aumentar_stockResponse" type="tns:producto_aumentar_stockResponse" />
  <xs:element name="producto_buscar_sku" type="tns:producto_buscar_sku" />
  <xs:element name="producto_buscar_skuResponse" type="tns:producto_buscar_skuResponse" />
  <xs:element name="producto_insertar" type="tns:producto_insertar" />
  <xs:element name="producto_insertarResponse" type="tns:producto_insertarResponse" />
  <xs:element name="producto_listar" type="tns:producto_listar" />
  <xs:element name="producto_listarResponse" type="tns:producto_listarResponse" />
  <xs:element name="producto_modificar" type="tns:producto_modificar" />
  <xs:element name="producto_modificarResponse" type="tns:producto_modificarResponse" />
  <xs:complexType name="producto_aumentar_stock">
    <xs:sequence>
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="idSede" type="xs:int" />
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto_aumentar_stockResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto_listar">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="producto_listarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="idSede" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="marca" type="tns:marca" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="oferta" type="xs:int" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="precioProveedor" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="productosMiembros" nillable="true" type="tns:producto" />
      <xs:element minOccurs="0" name="sku" type="xs:string" />
      <xs:element minOccurs="0" name="tipoProducto" type="tns:tipoProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="marca">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="idMarca" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="proveedor" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="idProveedor" type="xs:int" />
      <xs:element minOccurs="0" name="nombreContacto" type="xs:string" />
      <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
      <xs:element minOccurs="0" name="ruc" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="idTipoProducto" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto_buscar_sku">
    <xs:sequence>
      <xs:element minOccurs="0" name="sku" type="xs:string" />
      <xs:element minOccurs="0" name="idSede" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto_buscar_skuResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>