SoftCyberiaWAFinal/SoftCyberiaWA/SoftCyberiaBaseBO/Connected Services/CyberiaWS/ProveedorWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="CyberiaWS" targetNamespace="CyberiaWS" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="proveedor_eliminar" type="tns:proveedor_eliminar" />
  <xs:element name="proveedor_eliminarResponse" type="tns:proveedor_eliminarResponse" />
  <xs:element name="proveedor_insertar" type="tns:proveedor_insertar" />
  <xs:element name="proveedor_insertarResponse" type="tns:proveedor_insertarResponse" />
  <xs:element name="proveedor_listar" type="tns:proveedor_listar" />
  <xs:element name="proveedor_listarResponse" type="tns:proveedor_listarResponse" />
  <xs:element name="proveedor_modificar" type="tns:proveedor_modificar" />
  <xs:element name="proveedor_modificarResponse" type="tns:proveedor_modificarResponse" />
  <xs:complexType name="proveedor_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="proveedor" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="idProveedor" type="xs:int" />
      <xs:element minOccurs="0" name="nombreContacto" type="xs:string" />
      <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
      <xs:element minOccurs="0" name="ruc" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor_listar">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="proveedor_listarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="proveedor" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="proveedor" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor_eliminarResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>