SoftCyberiaWAFinal/SoftCyberiaWA/SoftCyberiaBaseBO/Connected Services/CyberiaWS/Reportes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://servicios.cyberiastore.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Reportes" targetNamespace="http://servicios.cyberiastore.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CyberiaStoreWS_Servidor/Reportes?xsd=1" namespace="http://servicios.cyberiastore.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="boleta">
    <part name="parameters" element="tns:boleta" />
  </message>
  <message name="boletaResponse">
    <part name="parameters" element="tns:boletaResponse" />
  </message>
  <message name="factura">
    <part name="parameters" element="tns:factura" />
  </message>
  <message name="facturaResponse">
    <part name="parameters" element="tns:facturaResponse" />
  </message>
  <message name="reporteClientes">
    <part name="parameters" element="tns:reporteClientes" />
  </message>
  <message name="reporteClientesResponse">
    <part name="parameters" element="tns:reporteClientesResponse" />
  </message>
  <message name="reporteStock">
    <part name="parameters" element="tns:reporteStock" />
  </message>
  <message name="reporteStockResponse">
    <part name="parameters" element="tns:reporteStockResponse" />
  </message>
  <portType name="Reportes">
    <operation name="boleta">
      <input wsam:Action="http://servicios.cyberiastore.pucp.edu.pe/Reportes/boletaRequest" message="tns:boleta" />
      <output wsam:Action="http://servicios.cyberiastore.pucp.edu.pe/Reportes/boletaResponse" message="tns:boletaResponse" />
    </operation>
    <operation name="factura">
      <input wsam:Action="http://servicios.cyberiastore.pucp.edu.pe/Reportes/facturaRequest" message="tns:factura" />
      <output wsam:Action="http://servicios.cyberiastore.pucp.edu.pe/Reportes/facturaResponse" message="tns:facturaResponse" />
    </operation>
    <operation name="reporteClientes">
      <input wsam:Action="http://servicios.cyberiastore.pucp.edu.pe/Reportes/reporteClientesRequest" message="tns:reporteClientes" />
      <output wsam:Action="http://servicios.cyberiastore.pucp.edu.pe/Reportes/reporteClientesResponse" message="tns:reporteClientesResponse" />
    </operation>
    <operation name="reporteStock">
      <input wsam:Action="http://servicios.cyberiastore.pucp.edu.pe/Reportes/reporteStockRequest" message="tns:reporteStock" />
      <output wsam:Action="http://servicios.cyberiastore.pucp.edu.pe/Reportes/reporteStockResponse" message="tns:reporteStockResponse" />
    </operation>
  </portType>
  <binding name="ReportesPortBinding" type="tns:Reportes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="boleta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="factura">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="reporteClientes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="reporteStock">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Reportes">
    <port name="ReportesPort" binding="tns:ReportesPortBinding">
      <soap:address location="http://localhost:8080/CyberiaStoreWS_Servidor/Reportes" />
    </port>
  </service>
</definitions>