SoftCyberiaWAFinal/SoftCyberiaWA/SoftCyberiaBaseBO/Connected Services/CyberiaWS/Reportes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://servicios.cyberiastore.pucp.edu.pe/" targetNamespace="http://servicios.cyberiastore.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="boleta" type="tns:boleta" />
  <xs:element name="boletaResponse" type="tns:boletaResponse" />
  <xs:element name="factura" type="tns:factura" />
  <xs:element name="facturaResponse" type="tns:facturaResponse" />
  <xs:element name="reporteClientes" type="tns:reporteClientes" />
  <xs:element name="reporteClientesResponse" type="tns:reporteClientesResponse" />
  <xs:element name="reporteStock" type="tns:reporteStock" />
  <xs:element name="reporteStockResponse" type="tns:reporteStockResponse" />
  <xs:complexType name="factura">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_comprobante" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="facturaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporteClientes">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_sede" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporteClientesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="boleta">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_comprobante" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="boletaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporteStock">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_sede" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporteStockResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>