SoftCyberiaWAFinal/SoftCyberiaWA/SoftCyberiaBaseBO/Connected Services/CyberiaWS/ServicioWeb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://servicios.cyberiastore.pucp.edu.pe/" targetNamespace="http://servicios.cyberiastore.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="comprobante_buscar_sede" type="tns:comprobante_buscar_sede" />
  <xs:element name="comprobante_buscar_sedeResponse" type="tns:comprobante_buscar_sedeResponse" />
  <xs:element name="comprobante_buscar_usuario" type="tns:comprobante_buscar_usuario" />
  <xs:element name="comprobante_buscar_usuarioResponse" type="tns:comprobante_buscar_usuarioResponse" />
  <xs:element name="comprobante_pago_insertar" type="tns:comprobante_pago_insertar" />
  <xs:element name="comprobante_pago_insertarResponse" type="tns:comprobante_pago_insertarResponse" />
  <xs:element name="comprobante_pago_listar" type="tns:comprobante_pago_listar" />
  <xs:element name="comprobante_pago_listarResponse" type="tns:comprobante_pago_listarResponse" />
  <xs:element name="comprobante_pago_listar_cliente" type="tns:comprobante_pago_listar_cliente" />
  <xs:element name="comprobante_pago_listar_clienteResponse" type="tns:comprobante_pago_listar_clienteResponse" />
  <xs:element name="comprobante_pago_modificar" type="tns:comprobante_pago_modificar" />
  <xs:element name="comprobante_pago_modificarResponse" type="tns:comprobante_pago_modificarResponse" />
  <xs:element name="comprobante_pago_obtener_por_id" type="tns:comprobante_pago_obtener_por_id" />
  <xs:element name="comprobante_pago_obtener_por_idResponse" type="tns:comprobante_pago_obtener_por_idResponse" />
  <xs:element name="marca_eliminar" type="tns:marca_eliminar" />
  <xs:element name="marca_eliminarResponse" type="tns:marca_eliminarResponse" />
  <xs:element name="marca_insertar" type="tns:marca_insertar" />
  <xs:element name="marca_insertarResponse" type="tns:marca_insertarResponse" />
  <xs:element name="marca_listar" type="tns:marca_listar" />
  <xs:element name="marca_listarResponse" type="tns:marca_listarResponse" />
  <xs:element name="oferta_insertar" type="tns:oferta_insertar" />
  <xs:element name="oferta_insertarResponse" type="tns:oferta_insertarResponse" />
  <xs:element name="oferta_listar" type="tns:oferta_listar" />
  <xs:element name="oferta_listarResponse" type="tns:oferta_listarResponse" />
  <xs:element name="oferta_modificar" type="tns:oferta_modificar" />
  <xs:element name="oferta_modificarResponse" type="tns:oferta_modificarResponse" />
  <xs:element name="persona_buscar_por_documento" type="tns:persona_buscar_por_documento" />
  <xs:element name="persona_buscar_por_documentoResponse" type="tns:persona_buscar_por_documentoResponse" />
  <xs:element name="persona_enviar_correo_verificacion" type="tns:persona_enviar_correo_verificacion" />
  <xs:element name="persona_enviar_correo_verificacionResponse" type="tns:persona_enviar_correo_verificacionResponse" />
  <xs:element name="persona_insertar" type="tns:persona_insertar" />
  <xs:element name="persona_insertarResponse" type="tns:persona_insertarResponse" />
  <xs:element name="persona_loguearse" type="tns:persona_loguearse" />
  <xs:element name="persona_loguearseResponse" type="tns:persona_loguearseResponse" />
  <xs:element name="persona_modificar" type="tns:persona_modificar" />
  <xs:element name="persona_modificarResponse" type="tns:persona_modificarResponse" />
  <xs:element name="persona_modificar_usuario" type="tns:persona_modificar_usuario" />
  <xs:element name="persona_modificar_usuarioResponse" type="tns:persona_modificar_usuarioResponse" />
  <xs:element name="persona_verificar_correo" type="tns:persona_verificar_correo" />
  <xs:element name="persona_verificar_correoResponse" type="tns:persona_verificar_correoResponse" />
  <xs:element name="producto_aumentar_stock" type="tns:producto_aumentar_stock" />
  <xs:element name="producto_aumentar_stockResponse" type="tns:producto_aumentar_stockResponse" />
  <xs:element name="producto_buscar_sku" type="tns:producto_buscar_sku" />
  <xs:element name="producto_buscar_skuResponse" type="tns:producto_buscar_skuResponse" />
  <xs:element name="producto_insertar" type="tns:producto_insertar" />
  <xs:element name="producto_insertarResponse" type="tns:producto_insertarResponse" />
  <xs:element name="producto_lineas_pedido" type="tns:producto_lineas_pedido" />
  <xs:element name="producto_lineas_pedidoResponse" type="tns:producto_lineas_pedidoResponse" />
  <xs:element name="producto_listar" type="tns:producto_listar" />
  <xs:element name="producto_listarResponse" type="tns:producto_listarResponse" />
  <xs:element name="producto_modificar" type="tns:producto_modificar" />
  <xs:element name="producto_modificarResponse" type="tns:producto_modificarResponse" />
  <xs:element name="proveedor_eliminar" type="tns:proveedor_eliminar" />
  <xs:element name="proveedor_eliminarResponse" type="tns:proveedor_eliminarResponse" />
  <xs:element name="proveedor_insertar" type="tns:proveedor_insertar" />
  <xs:element name="proveedor_insertarResponse" type="tns:proveedor_insertarResponse" />
  <xs:element name="proveedor_listar" type="tns:proveedor_listar" />
  <xs:element name="proveedor_listarResponse" type="tns:proveedor_listarResponse" />
  <xs:element name="proveedor_modificar" type="tns:proveedor_modificar" />
  <xs:element name="proveedor_modificarResponse" type="tns:proveedor_modificarResponse" />
  <xs:element name="retornaNombreDelServicio" type="tns:retornaNombreDelServicio" />
  <xs:element name="retornaNombreDelServicioResponse" type="tns:retornaNombreDelServicioResponse" />
  <xs:element name="sede_insertar" type="tns:sede_insertar" />
  <xs:element name="sede_insertarResponse" type="tns:sede_insertarResponse" />
  <xs:element name="sede_listar" type="tns:sede_listar" />
  <xs:element name="sede_listarResponse" type="tns:sede_listarResponse" />
  <xs:element name="sede_modificar" type="tns:sede_modificar" />
  <xs:element name="sede_modificarResponse" type="tns:sede_modificarResponse" />
  <xs:element name="tipoProducto_eliminar" type="tns:tipoProducto_eliminar" />
  <xs:element name="tipoProducto_eliminarResponse" type="tns:tipoProducto_eliminarResponse" />
  <xs:element name="tipoProducto_insertar" type="tns:tipoProducto_insertar" />
  <xs:element name="tipoProducto_insertarResponse" type="tns:tipoProducto_insertarResponse" />
  <xs:element name="tipoProducto_listar" type="tns:tipoProducto_listar" />
  <xs:element name="tipoProducto_listarResponse" type="tns:tipoProducto_listarResponse" />
  <xs:element name="tipoProducto_modificar" type="tns:tipoProducto_modificar" />
  <xs:element name="tipoProducto_modificarResponse" type="tns:tipoProducto_modificarResponse" />
  <xs:element name="tipo_comprobante_listar" type="tns:tipo_comprobante_listar" />
  <xs:element name="tipo_comprobante_listarResponse" type="tns:tipo_comprobante_listarResponse" />
  <xs:element name="tipopersona_listar_paginas" type="tns:tipopersona_listar_paginas" />
  <xs:element name="tipopersona_listar_paginasResponse" type="tns:tipopersona_listar_paginasResponse" />
  <xs:element name="tipopersona_listar_roles_trabajadores" type="tns:tipopersona_listar_roles_trabajadores" />
  <xs:element name="tipopersona_listar_roles_trabajadoresResponse" type="tns:tipopersona_listar_roles_trabajadoresResponse" />
  <xs:complexType name="oferta_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="oferta" type="tns:oferta" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="productosOferta" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="oferta">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaDeFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaDeInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idOferta" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="porcentaje" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="productos" nillable="true" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idPedido" type="xs:int" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="idSede" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="marca" type="tns:marca" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="oferta" type="xs:int" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="precioProveedor" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="productosMiembros" nillable="true" type="tns:producto" />
      <xs:element minOccurs="0" name="sku" type="xs:string" />
      <xs:element minOccurs="0" name="tipoProducto" type="tns:tipoProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="marca">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="idMarca" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="proveedor" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="idProveedor" type="xs:int" />
      <xs:element minOccurs="0" name="nombreContacto" type="xs:string" />
      <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
      <xs:element minOccurs="0" name="ruc" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="idTipoProducto" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="oferta_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoProducto_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="TipoProducto" type="tns:tipoProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoProducto_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto_aumentar_stock">
    <xs:sequence>
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="idSede" type="xs:int" />
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto_aumentar_stockResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipo_comprobante_listar">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="tipo_comprobante_listarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tipoComprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="idTipoComprobante" type="xs:int" />
      <xs:element minOccurs="0" name="secuencial" type="xs:string" />
      <xs:element minOccurs="0" name="tipoComprobante" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipopersona_listar_roles_trabajadores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="tipopersona_listar_roles_trabajadoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tipoPersona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTipoPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="paginas" nillable="true" type="tns:pagina" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pagina">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPagina" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="referencia" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto_listar">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="producto_listarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="oferta_listar">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="oferta_listarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:oferta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona_loguearse">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona_loguearseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="documento" type="xs:string" />
      <xs:element minOccurs="0" name="fechaDeNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaIngreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaSalida" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="idSede" type="xs:int" />
      <xs:element minOccurs="0" name="idTipoPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nacionalidad" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="primerApellido" type="xs:string" />
      <xs:element minOccurs="0" name="segundoApellido" type="xs:string" />
      <xs:element minOccurs="0" name="sexo" type="xs:string" />
      <xs:element minOccurs="0" name="sueldo" type="xs:double" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDeDocumento" type="tns:tipoDocumento" />
      <xs:element minOccurs="0" name="tipoUsuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="persona" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="oferta_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="oferta" type="tns:oferta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="oferta_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona_buscar_por_documento">
    <xs:sequence>
      <xs:element minOccurs="0" name="documento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona_buscar_por_documentoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto_lineas_pedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPedido" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto_lineas_pedidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_pago_listar">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="comprobante_pago_listarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:comprobantePago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobantePago">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="estadoPedido" type="tns:estadoPedido" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idComprobantePago" type="xs:int" />
      <xs:element minOccurs="0" name="idSede" type="xs:int" />
      <xs:element minOccurs="0" name="igv" type="xs:double" />
      <xs:element name="lineaPedido">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="tns:producto" />
                  <xs:element minOccurs="0" name="value" type="xs:int" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="numero" type="xs:string" />
      <xs:element minOccurs="0" name="persona" type="tns:persona" />
      <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
      <xs:element minOccurs="0" name="ruc" type="xs:string" />
      <xs:element minOccurs="0" name="subtotal" type="xs:double" />
      <xs:element minOccurs="0" name="tipoComprobante" type="tns:tipoComprobante" />
      <xs:element minOccurs="0" name="total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoProducto_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="TipoProducto" type="tns:tipoProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoProducto_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona_verificar_correo">
    <xs:sequence>
      <xs:element minOccurs="0" name="valorToken" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona_verificar_correoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoProducto_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="TipoProducto" type="tns:tipoProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoProducto_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_buscar_sede">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_sede" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_buscar_sedeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:comprobantePago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sede_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="sede" type="tns:sede" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sede">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="horarioApertura" type="tns:localTime" />
      <xs:element minOccurs="0" name="horarioCierre" type="tns:localTime" />
      <xs:element minOccurs="0" name="idSede" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="sede_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona_enviar_correo_verificacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="valorToken" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona_enviar_correo_verificacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor_listar">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="proveedor_listarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="proveedor" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoProducto_listar">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="tipoProducto_listarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tipoProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="proveedor" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_pago_listar_cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_cliente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_pago_listar_clienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:comprobantePago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="marca_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="marca" type="tns:marca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="marca_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_pago_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="comprobante_pago" type="tns:comprobantePago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_pago_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_pago_obtener_por_id">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_comprobante_pago" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_pago_obtener_por_idResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:comprobantePago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sede_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="sede" type="tns:sede" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sede_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="retornaNombreDelServicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="retornaNombreDelServicioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="persona" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sede_listar">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="sede_listarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:sede" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_buscar_usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_persona" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_buscar_usuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:comprobantePago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona_modificar_usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona_modificar_usuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="proveedor" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="marca_listar">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="marca_listarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:marca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipopersona_listar_paginas">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipo_persona" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipopersona_listar_paginasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:tipoPersona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_pago_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="comprobante_pago" type="tns:comprobantePago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_pago_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto_buscar_sku">
    <xs:sequence>
      <xs:element minOccurs="0" name="sku" type="xs:string" />
      <xs:element minOccurs="0" name="idSede" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto_buscar_skuResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="marca_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="marca" type="tns:marca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="marca_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="CARNET_DE_EXTRANJERIA" />
      <xs:enumeration value="PASAPORTE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoPedido">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EN_PREPARACION" />
      <xs:enumeration value="LISTO_PARA_RECOGER" />
      <xs:enumeration value="ENTREGADO" />
      <xs:enumeration value="CANCELADO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>