SoftCyberiaWAFinal/SoftCyberiaWA/SoftCyberiaBaseBO/Connected Services/CyberiaWS/TipoPersonaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="CyberiaWS" targetNamespace="CyberiaWS" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tipopersona_listar" type="tns:tipopersona_listar" />
  <xs:element name="tipopersona_listarResponse" type="tns:tipopersona_listarResponse" />
  <xs:complexType name="tipopersona_listar">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="tipopersona_listarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tipoPersona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTipoPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>