SoftCyberia (2)/SoftCyberia/SoftCyberiaWA/SoftCyberiaWA/Connected Services/ServicioWS/OfertaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://venta.servicios.cyberiastore.pucp.edu.pe/" targetNamespace="http://venta.servicios.cyberiastore.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="oferta_insertar" type="tns:oferta_insertar" />
  <xs:element name="oferta_insertarResponse" type="tns:oferta_insertarResponse" />
  <xs:element name="oferta_listar" type="tns:oferta_listar" />
  <xs:element name="oferta_listarResponse" type="tns:oferta_listarResponse" />
  <xs:element name="oferta_modificar" type="tns:oferta_modificar" />
  <xs:element name="oferta_modificarResponse" type="tns:oferta_modificarResponse" />
  <xs:complexType name="oferta_listar">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="oferta_listarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:oferta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="oferta">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaDeFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaDeInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idOferta" type="xs:int" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="porcentaje" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="oferta_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="porcentaje" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="oferta_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="oferta_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="porcentaje" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="oferta_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>