SoftCyberiaWAFinal/SoftCyberiaWA/SoftCyberiaWA/Connected Services/CyberiaWS/AdministradorWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="CyberiaWS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AdministradorWS" targetNamespace="CyberiaWS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CyberiaStoreWS_Servidor/AdministradorWS?xsd=1" namespace="CyberiaWS" />
    </xsd:schema>
  </types>
  <message name="administrador_insertar">
    <part name="parameters" element="tns:administrador_insertar" />
  </message>
  <message name="administrador_insertarResponse">
    <part name="parameters" element="tns:administrador_insertarResponse" />
  </message>
  <message name="administrador_modificar">
    <part name="parameters" element="tns:administrador_modificar" />
  </message>
  <message name="administrador_modificarResponse">
    <part name="parameters" element="tns:administrador_modificarResponse" />
  </message>
  <message name="administrador_listar">
    <part name="parameters" element="tns:administrador_listar" />
  </message>
  <message name="administrador_listarResponse">
    <part name="parameters" element="tns:administrador_listarResponse" />
  </message>
  <portType name="AdministradorWS">
    <operation name="administrador_insertar">
      <input wsam:Action="CyberiaWS/AdministradorWS/administrador_insertarRequest" message="tns:administrador_insertar" />
      <output wsam:Action="CyberiaWS/AdministradorWS/administrador_insertarResponse" message="tns:administrador_insertarResponse" />
    </operation>
    <operation name="administrador_modificar">
      <input wsam:Action="CyberiaWS/AdministradorWS/administrador_modificarRequest" message="tns:administrador_modificar" />
      <output wsam:Action="CyberiaWS/AdministradorWS/administrador_modificarResponse" message="tns:administrador_modificarResponse" />
    </operation>
    <operation name="administrador_listar">
      <input wsam:Action="CyberiaWS/AdministradorWS/administrador_listarRequest" message="tns:administrador_listar" />
      <output wsam:Action="CyberiaWS/AdministradorWS/administrador_listarResponse" message="tns:administrador_listarResponse" />
    </operation>
  </portType>
  <binding name="AdministradorWSPortBinding" type="tns:AdministradorWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="administrador_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="administrador_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="administrador_listar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AdministradorWS">
    <port name="AdministradorWSPort" binding="tns:AdministradorWSPortBinding">
      <soap:address location="http://localhost:8080/CyberiaStoreWS_Servidor/AdministradorWS" />
    </port>
  </service>
</definitions>