SoftCyberiaWAFinal/SoftCyberiaWA/SoftCyberiaWA/Connected Services/CyberiaWS/PersonaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="CyberiaWS" targetNamespace="CyberiaWS" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="persona_buscar_por_documento" type="tns:persona_buscar_por_documento" />
  <xs:element name="persona_buscar_por_documentoResponse" type="tns:persona_buscar_por_documentoResponse" />
  <xs:element name="persona_enviar_correo_verificacion" type="tns:persona_enviar_correo_verificacion" />
  <xs:element name="persona_enviar_correo_verificacionResponse" type="tns:persona_enviar_correo_verificacionResponse" />
  <xs:element name="persona_insertar" type="tns:persona_insertar" />
  <xs:element name="persona_insertarResponse" type="tns:persona_insertarResponse" />
  <xs:element name="persona_loguearse" type="tns:persona_loguearse" />
  <xs:element name="persona_loguearseResponse" type="tns:persona_loguearseResponse" />
  <xs:element name="persona_modificar" type="tns:persona_modificar" />
  <xs:element name="persona_modificarResponse" type="tns:persona_modificarResponse" />
  <xs:element name="persona_verificar_correo" type="tns:persona_verificar_correo" />
  <xs:element name="persona_verificar_correoResponse" type="tns:persona_verificar_correoResponse" />
  <xs:complexType name="persona_loguearse">
    <xs:sequence>
      <xs:element minOccurs="0" name="persona" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona_loguearseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="persona" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="documento" type="xs:string" />
      <xs:element minOccurs="0" name="fechaDeNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaIngreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaSalida" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="idSede" type="xs:int" />
      <xs:element minOccurs="0" name="idTipoPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nacionalidad" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="primerApellido" type="xs:string" />
      <xs:element minOccurs="0" name="segundoApellido" type="xs:string" />
      <xs:element minOccurs="0" name="sexo" type="xs:string" />
      <xs:element minOccurs="0" name="sueldo" type="xs:double" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDeDocumento" type="tns:tipoDocumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona_enviar_correo_verificacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="valorToken" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona_enviar_correo_verificacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona_verificar_correo">
    <xs:sequence>
      <xs:element minOccurs="0" name="valorToken" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona_verificar_correoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="persona" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona_buscar_por_documento">
    <xs:sequence>
      <xs:element minOccurs="0" name="documento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona_buscar_por_documentoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="CARNET_DE_EXTRANJERIA" />
      <xs:enumeration value="PASAPORTE" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>