SoftCyberiaWAFinal/SoftCyberiaWA/SoftCyberiaWA/Connected Services/CyberiaWS/ProveedorWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="CyberiaWS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProveedorWS" targetNamespace="CyberiaWS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CyberiaStoreWS_Servidor/ProveedorWS?xsd=1" namespace="CyberiaWS" />
    </xsd:schema>
  </types>
  <message name="proveedor_eliminar">
    <part name="parameters" element="tns:proveedor_eliminar" />
  </message>
  <message name="proveedor_eliminarResponse">
    <part name="parameters" element="tns:proveedor_eliminarResponse" />
  </message>
  <message name="proveedor_insertar">
    <part name="parameters" element="tns:proveedor_insertar" />
  </message>
  <message name="proveedor_insertarResponse">
    <part name="parameters" element="tns:proveedor_insertarResponse" />
  </message>
  <message name="proveedor_listar">
    <part name="parameters" element="tns:proveedor_listar" />
  </message>
  <message name="proveedor_listarResponse">
    <part name="parameters" element="tns:proveedor_listarResponse" />
  </message>
  <message name="proveedor_modificar">
    <part name="parameters" element="tns:proveedor_modificar" />
  </message>
  <message name="proveedor_modificarResponse">
    <part name="parameters" element="tns:proveedor_modificarResponse" />
  </message>
  <portType name="ProveedorWS">
    <operation name="proveedor_eliminar">
      <input wsam:Action="CyberiaWS/ProveedorWS/proveedor_eliminarRequest" message="tns:proveedor_eliminar" />
      <output wsam:Action="CyberiaWS/ProveedorWS/proveedor_eliminarResponse" message="tns:proveedor_eliminarResponse" />
    </operation>
    <operation name="proveedor_insertar">
      <input wsam:Action="CyberiaWS/ProveedorWS/proveedor_insertarRequest" message="tns:proveedor_insertar" />
      <output wsam:Action="CyberiaWS/ProveedorWS/proveedor_insertarResponse" message="tns:proveedor_insertarResponse" />
    </operation>
    <operation name="proveedor_listar">
      <input wsam:Action="CyberiaWS/ProveedorWS/proveedor_listarRequest" message="tns:proveedor_listar" />
      <output wsam:Action="CyberiaWS/ProveedorWS/proveedor_listarResponse" message="tns:proveedor_listarResponse" />
    </operation>
    <operation name="proveedor_modificar">
      <input wsam:Action="CyberiaWS/ProveedorWS/proveedor_modificarRequest" message="tns:proveedor_modificar" />
      <output wsam:Action="CyberiaWS/ProveedorWS/proveedor_modificarResponse" message="tns:proveedor_modificarResponse" />
    </operation>
  </portType>
  <binding name="ProveedorWSPortBinding" type="tns:ProveedorWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="proveedor_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="proveedor_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="proveedor_listar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="proveedor_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProveedorWS">
    <port name="ProveedorWSPort" binding="tns:ProveedorWSPortBinding">
      <soap:address location="http://localhost:8080/CyberiaStoreWS_Servidor/ProveedorWS" />
    </port>
  </service>
</definitions>