SoftCyberiaWA/SoftCyberiaWA/Connected Services/CyberiaStoreWS/FacturaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://venta.servicios.cyberiastore.pucp.edu.pe/" targetNamespace="http://venta.servicios.cyberiastore.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="factura_eliminar" type="tns:factura_eliminar" />
  <xs:element name="factura_eliminarResponse" type="tns:factura_eliminarResponse" />
  <xs:element name="factura_insertar" type="tns:factura_insertar" />
  <xs:element name="factura_insertarResponse" type="tns:factura_insertarResponse" />
  <xs:element name="factura_listar" type="tns:factura_listar" />
  <xs:element name="factura_listarResponse" type="tns:factura_listarResponse" />
  <xs:complexType name="factura_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="factura" type="tns:factura" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="factura">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:comprobanteDePago">
        <xs:sequence>
          <xs:element minOccurs="0" name="direccionDeFacturacion" type="xs:string" />
          <xs:element minOccurs="0" name="idFactura" type="xs:int" />
          <xs:element minOccurs="0" name="numeroDeFactura" type="xs:int" />
          <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
          <xs:element minOccurs="0" name="ruc" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="comprobanteDePago">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
      <xs:element minOccurs="0" name="descuentoAplicado" type="xs:double" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idComprobanteDePago" type="xs:int" />
      <xs:element minOccurs="0" name="idOferta" type="xs:int" />
      <xs:element minOccurs="0" name="idPedido" type="xs:int" />
      <xs:element minOccurs="0" name="igv" type="xs:double" />
      <xs:element minOccurs="0" name="subtotal" type="xs:double" />
      <xs:element minOccurs="0" name="total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="idCliente" type="xs:int" />
          <xs:element minOccurs="0" name="verificado" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="documento" type="xs:string" />
      <xs:element minOccurs="0" name="fechaDeNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nacionalidad" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="sexo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDeDocumento" type="tns:tipoDocumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="factura_eliminarResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="factura_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="factura" type="tns:factura" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="factura_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="factura_listar">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="factura_listarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:factura" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="CARNET_DE_EXTRANJERIA" />
      <xs:enumeration value="PASAPORTE" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>