SoftCyberiaWA/SoftCyberiaWA/Connected Services/CyberiaStoreWS/SedeWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://inventario.servicios.cyberiastore.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SedeWS" targetNamespace="http://inventario.servicios.cyberiastore.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CyberiaStoreWS_Servidor/SedeWS?xsd=1" namespace="http://inventario.servicios.cyberiastore.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="sede_modificar">
    <part name="parameters" element="tns:sede_modificar" />
  </message>
  <message name="sede_modificarResponse">
    <part name="parameters" element="tns:sede_modificarResponse" />
  </message>
  <message name="sede_insertar">
    <part name="parameters" element="tns:sede_insertar" />
  </message>
  <message name="sede_insertarResponse">
    <part name="parameters" element="tns:sede_insertarResponse" />
  </message>
  <message name="sede_listar">
    <part name="parameters" element="tns:sede_listar" />
  </message>
  <message name="sede_listarResponse">
    <part name="parameters" element="tns:sede_listarResponse" />
  </message>
  <portType name="SedeWS">
    <operation name="sede_modificar">
      <input wsam:Action="http://inventario.servicios.cyberiastore.pucp.edu.pe/SedeWS/sede_modificarRequest" message="tns:sede_modificar" />
      <output wsam:Action="http://inventario.servicios.cyberiastore.pucp.edu.pe/SedeWS/sede_modificarResponse" message="tns:sede_modificarResponse" />
    </operation>
    <operation name="sede_insertar">
      <input wsam:Action="http://inventario.servicios.cyberiastore.pucp.edu.pe/SedeWS/sede_insertarRequest" message="tns:sede_insertar" />
      <output wsam:Action="http://inventario.servicios.cyberiastore.pucp.edu.pe/SedeWS/sede_insertarResponse" message="tns:sede_insertarResponse" />
    </operation>
    <operation name="sede_listar">
      <input wsam:Action="http://inventario.servicios.cyberiastore.pucp.edu.pe/SedeWS/sede_listarRequest" message="tns:sede_listar" />
      <output wsam:Action="http://inventario.servicios.cyberiastore.pucp.edu.pe/SedeWS/sede_listarResponse" message="tns:sede_listarResponse" />
    </operation>
  </portType>
  <binding name="SedeWSPortBinding" type="tns:SedeWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="sede_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="sede_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="sede_listar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SedeWS">
    <port name="SedeWSPort" binding="tns:SedeWSPortBinding">
      <soap:address location="http://localhost:8080/CyberiaStoreWS_Servidor/SedeWS" />
    </port>
  </service>
</definitions>