SoftCyberiaWA/SoftCyberiaWA/Connected Services/CyberiaStoreWS/VendedorWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://trabajador.servicios.cyberiastore.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="VendedorWS" targetNamespace="http://trabajador.servicios.cyberiastore.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CyberiaStoreWS_Servidor/VendedorWS?xsd=1" namespace="http://trabajador.servicios.cyberiastore.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="vendedor_listar">
    <part name="parameters" element="tns:vendedor_listar" />
  </message>
  <message name="vendedor_listarResponse">
    <part name="parameters" element="tns:vendedor_listarResponse" />
  </message>
  <message name="vendedor_insertar">
    <part name="parameters" element="tns:vendedor_insertar" />
  </message>
  <message name="vendedor_insertarResponse">
    <part name="parameters" element="tns:vendedor_insertarResponse" />
  </message>
  <message name="vendedor_modificar">
    <part name="parameters" element="tns:vendedor_modificar" />
  </message>
  <message name="vendedor_modificarResponse">
    <part name="parameters" element="tns:vendedor_modificarResponse" />
  </message>
  <portType name="VendedorWS">
    <operation name="vendedor_listar">
      <input wsam:Action="http://trabajador.servicios.cyberiastore.pucp.edu.pe/VendedorWS/vendedor_listarRequest" message="tns:vendedor_listar" />
      <output wsam:Action="http://trabajador.servicios.cyberiastore.pucp.edu.pe/VendedorWS/vendedor_listarResponse" message="tns:vendedor_listarResponse" />
    </operation>
    <operation name="vendedor_insertar">
      <input wsam:Action="http://trabajador.servicios.cyberiastore.pucp.edu.pe/VendedorWS/vendedor_insertarRequest" message="tns:vendedor_insertar" />
      <output wsam:Action="http://trabajador.servicios.cyberiastore.pucp.edu.pe/VendedorWS/vendedor_insertarResponse" message="tns:vendedor_insertarResponse" />
    </operation>
    <operation name="vendedor_modificar">
      <input wsam:Action="http://trabajador.servicios.cyberiastore.pucp.edu.pe/VendedorWS/vendedor_modificarRequest" message="tns:vendedor_modificar" />
      <output wsam:Action="http://trabajador.servicios.cyberiastore.pucp.edu.pe/VendedorWS/vendedor_modificarResponse" message="tns:vendedor_modificarResponse" />
    </operation>
  </portType>
  <binding name="VendedorWSPortBinding" type="tns:VendedorWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="vendedor_listar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="vendedor_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="vendedor_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="VendedorWS">
    <port name="VendedorWSPort" binding="tns:VendedorWSPortBinding">
      <soap:address location="http://localhost:8080/CyberiaStoreWS_Servidor/VendedorWS" />
    </port>
  </service>
</definitions>