SoftCyberiaWA/SoftCyberiaWA/Connected Services/CyberiaWS/ClienteWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="CyberiaWS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ClienteWS" targetNamespace="CyberiaWS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CyberiaStoreWS_Servidor/ClienteWS?xsd=1" namespace="CyberiaWS" />
    </xsd:schema>
  </types>
  <message name="cliente_modificar">
    <part name="parameters" element="tns:cliente_modificar" />
  </message>
  <message name="cliente_modificarResponse">
    <part name="parameters" element="tns:cliente_modificarResponse" />
  </message>
  <message name="cliente_insertar">
    <part name="parameters" element="tns:cliente_insertar" />
  </message>
  <message name="cliente_insertarResponse">
    <part name="parameters" element="tns:cliente_insertarResponse" />
  </message>
  <message name="cliente_listar">
    <part name="parameters" element="tns:cliente_listar" />
  </message>
  <message name="cliente_listarResponse">
    <part name="parameters" element="tns:cliente_listarResponse" />
  </message>
  <portType name="ClienteWS">
    <operation name="cliente_modificar">
      <input wsam:Action="CyberiaWS/ClienteWS/cliente_modificarRequest" message="tns:cliente_modificar" />
      <output wsam:Action="CyberiaWS/ClienteWS/cliente_modificarResponse" message="tns:cliente_modificarResponse" />
    </operation>
    <operation name="cliente_insertar">
      <input wsam:Action="CyberiaWS/ClienteWS/cliente_insertarRequest" message="tns:cliente_insertar" />
      <output wsam:Action="CyberiaWS/ClienteWS/cliente_insertarResponse" message="tns:cliente_insertarResponse" />
    </operation>
    <operation name="cliente_listar">
      <input wsam:Action="CyberiaWS/ClienteWS/cliente_listarRequest" message="tns:cliente_listar" />
      <output wsam:Action="CyberiaWS/ClienteWS/cliente_listarResponse" message="tns:cliente_listarResponse" />
    </operation>
  </portType>
  <binding name="ClienteWSPortBinding" type="tns:ClienteWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="cliente_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cliente_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cliente_listar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ClienteWS">
    <port name="ClienteWSPort" binding="tns:ClienteWSPortBinding">
      <soap:address location="http://localhost:8080/CyberiaStoreWS_Servidor/ClienteWS" />
    </port>
  </service>
</definitions>