SoftCyberiaWA/SoftCyberiaWA/Connected Services/CyberiaWS/FacturaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="CyberiaWS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="FacturaWS" targetNamespace="CyberiaWS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CyberiaStoreWS_Servidor/FacturaWS?xsd=1" namespace="CyberiaWS" />
    </xsd:schema>
  </types>
  <message name="factura_listar">
    <part name="parameters" element="tns:factura_listar" />
  </message>
  <message name="factura_listarResponse">
    <part name="parameters" element="tns:factura_listarResponse" />
  </message>
  <message name="factura_insertar">
    <part name="parameters" element="tns:factura_insertar" />
  </message>
  <message name="factura_insertarResponse">
    <part name="parameters" element="tns:factura_insertarResponse" />
  </message>
  <message name="factura_eliminar">
    <part name="parameters" element="tns:factura_eliminar" />
  </message>
  <message name="factura_eliminarResponse">
    <part name="parameters" element="tns:factura_eliminarResponse" />
  </message>
  <portType name="FacturaWS">
    <operation name="factura_listar">
      <input wsam:Action="CyberiaWS/FacturaWS/factura_listarRequest" message="tns:factura_listar" />
      <output wsam:Action="CyberiaWS/FacturaWS/factura_listarResponse" message="tns:factura_listarResponse" />
    </operation>
    <operation name="factura_insertar">
      <input wsam:Action="CyberiaWS/FacturaWS/factura_insertarRequest" message="tns:factura_insertar" />
      <output wsam:Action="CyberiaWS/FacturaWS/factura_insertarResponse" message="tns:factura_insertarResponse" />
    </operation>
    <operation name="factura_eliminar">
      <input wsam:Action="CyberiaWS/FacturaWS/factura_eliminarRequest" message="tns:factura_eliminar" />
      <output wsam:Action="CyberiaWS/FacturaWS/factura_eliminarResponse" message="tns:factura_eliminarResponse" />
    </operation>
  </portType>
  <binding name="FacturaWSPortBinding" type="tns:FacturaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="factura_listar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="factura_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="factura_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="FacturaWS">
    <port name="FacturaWSPort" binding="tns:FacturaWSPortBinding">
      <soap:address location="http://localhost:8080/CyberiaStoreWS_Servidor/FacturaWS" />
    </port>
  </service>
</definitions>