SoftCyberiaWA/SoftCyberiaWA/Connected Services/CyberiaWS/TipoProductoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="CyberiaWS" targetNamespace="CyberiaWS" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tipoProducto_eliminar" type="tns:tipoProducto_eliminar" />
  <xs:element name="tipoProducto_eliminarResponse" type="tns:tipoProducto_eliminarResponse" />
  <xs:element name="tipoProducto_insertar" type="tns:tipoProducto_insertar" />
  <xs:element name="tipoProducto_insertarResponse" type="tns:tipoProducto_insertarResponse" />
  <xs:element name="tipoProducto_listar" type="tns:tipoProducto_listar" />
  <xs:element name="tipoProducto_listarResponse" type="tns:tipoProducto_listarResponse" />
  <xs:element name="tipoProducto_modificar" type="tns:tipoProducto_modificar" />
  <xs:element name="tipoProducto_modificarResponse" type="tns:tipoProducto_modificarResponse" />
  <xs:complexType name="tipoProducto_listar">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="tipoProducto_listarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tipoProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="idTipoProducto" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoProducto_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="TipoProducto" type="tns:tipoProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoProducto_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoProducto_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="TipoProducto" type="tns:tipoProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoProducto_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoProducto_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="TipoProducto" type="tns:tipoProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoProducto_eliminarResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>