SoftCyberiaWA/SoftCyberiaBaseBO/Connected Services/CyberiaWS/BoletaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://venta.servicios.cyberiastore.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="BoletaWS" targetNamespace="http://venta.servicios.cyberiastore.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CyberiaStoreWS_Servidor/BoletaWS?xsd=1" namespace="http://venta.servicios.cyberiastore.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="boleta_insertar">
    <part name="parameters" element="tns:boleta_insertar" />
  </message>
  <message name="boleta_insertarResponse">
    <part name="parameters" element="tns:boleta_insertarResponse" />
  </message>
  <message name="boleta_eliminar">
    <part name="parameters" element="tns:boleta_eliminar" />
  </message>
  <message name="boleta_eliminarResponse">
    <part name="parameters" element="tns:boleta_eliminarResponse" />
  </message>
  <message name="boleta_listar">
    <part name="parameters" element="tns:boleta_listar" />
  </message>
  <message name="boleta_listarResponse">
    <part name="parameters" element="tns:boleta_listarResponse" />
  </message>
  <portType name="BoletaWS">
    <operation name="boleta_insertar">
      <input wsam:Action="http://venta.servicios.cyberiastore.pucp.edu.pe/BoletaWS/boleta_insertarRequest" message="tns:boleta_insertar" />
      <output wsam:Action="http://venta.servicios.cyberiastore.pucp.edu.pe/BoletaWS/boleta_insertarResponse" message="tns:boleta_insertarResponse" />
    </operation>
    <operation name="boleta_eliminar">
      <input wsam:Action="http://venta.servicios.cyberiastore.pucp.edu.pe/BoletaWS/boleta_eliminarRequest" message="tns:boleta_eliminar" />
      <output wsam:Action="http://venta.servicios.cyberiastore.pucp.edu.pe/BoletaWS/boleta_eliminarResponse" message="tns:boleta_eliminarResponse" />
    </operation>
    <operation name="boleta_listar">
      <input wsam:Action="http://venta.servicios.cyberiastore.pucp.edu.pe/BoletaWS/boleta_listarRequest" message="tns:boleta_listar" />
      <output wsam:Action="http://venta.servicios.cyberiastore.pucp.edu.pe/BoletaWS/boleta_listarResponse" message="tns:boleta_listarResponse" />
    </operation>
  </portType>
  <binding name="BoletaWSPortBinding" type="tns:BoletaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="boleta_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="boleta_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="boleta_listar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="BoletaWS">
    <port name="BoletaWSPort" binding="tns:BoletaWSPortBinding">
      <soap:address location="http://localhost:8080/CyberiaStoreWS_Servidor/BoletaWS" />
    </port>
  </service>
</definitions>