SoftCyberiaWA/SoftCyberiaBaseBO/Connected Services/CyberiaWS/PedidoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://venta.servicios.cyberiastore.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PedidoWS" targetNamespace="http://venta.servicios.cyberiastore.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CyberiaStoreWS_Servidor/PedidoWS?xsd=1" namespace="http://venta.servicios.cyberiastore.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="pedido_listar">
    <part name="parameters" element="tns:pedido_listar" />
  </message>
  <message name="pedido_listarResponse">
    <part name="parameters" element="tns:pedido_listarResponse" />
  </message>
  <message name="pedido_eliminar">
    <part name="parameters" element="tns:pedido_eliminar" />
  </message>
  <message name="pedido_eliminarResponse">
    <part name="parameters" element="tns:pedido_eliminarResponse" />
  </message>
  <message name="pedido_insertar">
    <part name="parameters" element="tns:pedido_insertar" />
  </message>
  <message name="pedido_insertarResponse">
    <part name="parameters" element="tns:pedido_insertarResponse" />
  </message>
  <message name="pedido_modificar">
    <part name="parameters" element="tns:pedido_modificar" />
  </message>
  <message name="pedido_modificarResponse">
    <part name="parameters" element="tns:pedido_modificarResponse" />
  </message>
  <portType name="PedidoWS">
    <operation name="pedido_listar">
      <input wsam:Action="http://venta.servicios.cyberiastore.pucp.edu.pe/PedidoWS/pedido_listarRequest" message="tns:pedido_listar" />
      <output wsam:Action="http://venta.servicios.cyberiastore.pucp.edu.pe/PedidoWS/pedido_listarResponse" message="tns:pedido_listarResponse" />
    </operation>
    <operation name="pedido_eliminar">
      <input wsam:Action="http://venta.servicios.cyberiastore.pucp.edu.pe/PedidoWS/pedido_eliminarRequest" message="tns:pedido_eliminar" />
      <output wsam:Action="http://venta.servicios.cyberiastore.pucp.edu.pe/PedidoWS/pedido_eliminarResponse" message="tns:pedido_eliminarResponse" />
    </operation>
    <operation name="pedido_insertar">
      <input wsam:Action="http://venta.servicios.cyberiastore.pucp.edu.pe/PedidoWS/pedido_insertarRequest" message="tns:pedido_insertar" />
      <output wsam:Action="http://venta.servicios.cyberiastore.pucp.edu.pe/PedidoWS/pedido_insertarResponse" message="tns:pedido_insertarResponse" />
    </operation>
    <operation name="pedido_modificar">
      <input wsam:Action="http://venta.servicios.cyberiastore.pucp.edu.pe/PedidoWS/pedido_modificarRequest" message="tns:pedido_modificar" />
      <output wsam:Action="http://venta.servicios.cyberiastore.pucp.edu.pe/PedidoWS/pedido_modificarResponse" message="tns:pedido_modificarResponse" />
    </operation>
  </portType>
  <binding name="PedidoWSPortBinding" type="tns:PedidoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="pedido_listar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="pedido_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="pedido_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="pedido_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PedidoWS">
    <port name="PedidoWSPort" binding="tns:PedidoWSPortBinding">
      <soap:address location="http://localhost:8080/CyberiaStoreWS_Servidor/PedidoWS" />
    </port>
  </service>
</definitions>